body {
    background: url(../images/background\ 1.jpg);
}

h1,
h2 {
    background: url(../images/orange.jpg) 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: white;
    -webkit-text-stroke-width: 0.1mm;
    text-transform: uppercase;
    font-weight: 400px;
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

header {
    
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
    margin: 15px auto;
    
    height: 100px;
    width: 80%;
    /* background: url(../images/spectrum-dark-grey.jpg); */
    
    
    
}

.underscore {
    border: 2px solid black;
    font-size: 100px;
    text-align: center;
    margin: 15px auto;
    height: 200px;
    width: 50%;
    background: url(../images/spectrum-dark-grey.jpg);
}

.rightGuess {
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
    margin: 15px auto;
    height: 200px;
    width: 50%;
}

.wrongGuess {
    border: 2px solid black;
    font-size: 25px;
    text-align: center;
    margin: 15px auto;
    height: 200px;
    width: 50%;
}